.postjob-page-style{
    background-color: #EDF6FF;
    height: 100%;

    .postjob-head{
        background:linear-gradient(to right,#1A253C, #303F60);
        height: 210px;

       .postjob-banner-style {
        max-width: 1128px;
        display: block;
        margin: auto;
        padding: 2px 0px 68px 0px;
            
            .header{
                display: flex;
                justify-content: space-between;
            }
     } 
    }
}